body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0px;
    ul {
        list-style: none;
        display: flex;
    }
    li {
        a {
        text-shadow: rgb(255, 255, 255) 0px 0px 10px;
        margin: 10px;
        color: white;
        text-decoration: none;
        }
        a:hover {
            text-shadow: rgb(101, 255, 237) 0px 0px 10px;
            color: rgb(101, 255, 237);
        }
    }
}

#logo {
    font-size: 2em;
    font-weight: bold;
    color: rgb(101, 255, 237);
}

main {
    height: 80vh;
}